* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}

.wrapper {
    position: relative; /* Container must be relative to position children absolutely */
    width: 100%;
    max-width: 400px;
    text-align: center;
    overflow: hidden; /* Hide overflow to prevent the button from being visible outside */
}

h2 {
    font-size: 2em;
    color: #e94d58;
    margin: 15px 0;
}

.gif {
    width: 100%;
    max-width: 300px;
}

.btn-group {
    display: block;
    text-align: center;
}


button {
    width: 150px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    position: relative; /* Button should be positioned relative to its container */
}

button.yes-btn {
    background: #e94d58;
}

button.no-btn {
    background: white;
    color: #e94d58;
    position: absolute; /* Ensure it's absolute */
    transition: all 0.3s ease; /* Smooth movement */
}
